$shallow-shadow: black -1px 1px;
$deep-shadow: black -1px 4px;

*, 
::before,
::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
	background: url(./images/pikist.jpg) repeat;
	background-size: cover;
	//@at-root: peachpuff;
	color: whitesmoke;	
	height: 100vh;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//height: 100vh;
	//border: black solid 1px;

}

.app-container {	

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//height: 100vh;
	width: 100vw;
	//border: black solid 1px;

	.catch-of-the-day {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		//height: 100vh;
		width: 100vw;
		padding: 10px;
		//border: black solid 1px;
	}

	.inventory {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		//border: black solid 1px;

		.fish-edit {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			//border: red solid 1px;
		}

		.fish-edit input, textarea, select, button {
			margin: 5px;
		}
	}

	h1 {
		margin: 15px 0;
		color: DarkGoldenRod;
		text-shadow: $deep-shadow;
	}

	h2 {
		margin: 10px 0;
	}

	.tagline {
		text-align: center;
		color: lime;
		text-shadow: $shallow-shadow;
		animation: tagline-animation 5s linear 2s infinite alternate;
	}

	@keyframes tagline-animation {
		0% {transform: rotateY(0deg);}
		25% {transform: rotateY(20deg); transform: scale(1.2);}
		50% {transform: rotateY(0deg);}
		75% {transform: rotateY(-20deg); transform: scale(1.2);}
		100% {transform:rotateY(0deg)}
		
	}

	/*h1, h2, h3 {
		color: white;
		-webkit-text-stroke: 1px black;
	}*/

	.menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu-fish {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-image: url(./images/sand1.jpg);
		background-size: cover;
		margin: 10px 0;
		padding: 15px;
		border-radius: 20px;
		box-shadow: $shallow-shadow;

		.description {
			text-align: justify;
			margin: 5px 0;
			width: 235px;
			color: burlywood;
			text-shadow: $shallow-shadow;
		}

		h3 {
			color: tomato;
			text-shadow: $shallow-shadow;
		}

		button {
			border-radius: 10px;
			padding: 5px;
			
			&:hover {
				transform: scale(1.1);
			}
		}

		button[disabled] {
			
			&:hover {
				color: tomato;
				transform: rotate(20deg) scale(1.1);
				
			}
		}
	}

	img {
		border-radius: 10px;
		margin: 0 0 15px 0;
		&:hover {
			transform: scale(1.05);
		}
	}

	.order-wrap {
		position: sticky;
		top: 10px;
		background-image: url(./images/sand1.jpg);
		background-size: cover;
		//filter: blur(2px);
		margin: 20px 0 0 0;
		padding: 15px;
		border-radius: 20px;
		box-shadow: $shallow-shadow;	
		
		li {
			margin: 15px;
		}

		h2{
			color: darkgoldenrod;
			text-shadow: $shallow-shadow;
		}

		li {
			color: burlywood;
			text-shadow: $shallow-shadow;
			list-style: none;
		}

		h3 {
			color: tomato;
			font-weight: 900;
			text-shadow: $shallow-shadow;
		}
	}

}
